.products {
	// .products__container
	&__container {
	}
	// .products__item
	&__items {
		@media (width >= 499.98px) {
			display: grid;
			gap: 10px;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (width >= 991.98px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
.item-product {
	padding: 10px;
	border: 2px solid rgba(196, 193, 193, 0.7);
	cursor: pointer;
	transition: all 0.3s ease 0s;
	@media (width <= 499.98px) {
		margin-bottom: 10px;
	}
	// .item-product__label
	&__label {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		width: 100px;
		background-color: rgb(235, 164, 10);
		border-radius: 10px;
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		&_discount {
			background-color: rgba(224, 15, 15, 0.877);
		}
	}
	// .item-product__image
	&__image {
		position: relative;
		padding-bottom: 68%;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	// .item-product__title
	&__title {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	// .item-product__price
	&__price {
		font-weight: 700;
		font-size: 20px;
		color: red;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

.choosed {
	border-color: rgb(55, 250, 7);
}
