body {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0px;
}

@keyframes animationSnow {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.snow {
	// .snow__container
	&__container {
		background: url("../homework/lesson-19/img/snow/background.jpg") 100% 100% / cover no-repeat;
		position: relative;
		width: 100vw;
		height: 100vh;
	}
	// .snow__item
	&__item {
		position: absolute;
		top: 0px;
		left: 0px;
		font-size: 30px;
		color: #0ec2da;
		animation: animationSnow 20s infinite;
	}
}
