.tank {
	// .snow__container
	&__container {
		position: relative;
	}
	// .snow__item
	&__item {
		position: absolute;
		top: 0px;
		left: 0px;
		font-size: 30px;
	}
	&__image {
		width: 50px;
		height: 50px;
		transform: rotate(180deg);
	}
}
